<div class= "container">
  <footer class = "footer">
    <small>
      Copyright &copy; <a href = "https://www.google.com"> Yanxiang Yang</a>
      by <a href= "https://www.baidu.com"> Yanxiang</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>